body {
	background-image: url("../images/space.jpg");
	background-position: center;
	position: relative;
	top: -30px;
}

h1 {
	color: #ffffff;
	font-size: 80px;
	font-family: 'Pacifico', cursive;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
     margin: 0px;
     padding: 0px;
     line-height: 125px;
}

h2 {
	color: #ffffff;
	font-size: 50px;
	font-family: 'Pacifico', cursive;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
     margin: 7px;
     padding: 0px;
     line-height: 60px;
}

#menu {
	float: left;
}

.stuff {
	background-image: url("../images/asanoha.png");
	float: left;
	margin-left: 250px;
	margin-top: 20px;
	width: 500px;
	color: black;
	font-size: 20px;
	font-family: 'Quicksand', sans-serif;
	padding: 10px 10px 10px 10px;
	border: 1px solid black;
	line-height: 25px;
	text-align: center;
	border-radius: 25px;
}

a {
	color: #ffffff;
	text-decoration: none;
}

#bp {
	color: black;
}

#me {
	float: left;
	width: 150px;
	border-radius: 25px;
}

img {
	width: 80px;
}

#credits {
	float: left;
	clear: both;
	background-image: url("../images/asanoha.png");
	color: #000000;
	font-size: 10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 10px 10px 10px 10px;
	border: 1px solid black;
	border-radius: 25px;
	position: fixed;
	top: 630px;
}

#bgi {
	color: #000000;
}

#tbt {
	color: #000000;
}

@-webkit-keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse-shrink {
  to {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
a:hover, a:focus, a:active {
  -webkit-animation-name: hvr-pulse-shrink;
  animation-name: hvr-pulse-shrink;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}